body {
    background-image: url("https://www.proprofs.com/quiz-school/topic_images/p1akad4j481ruq3guga19d91uej3.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.jumbotron {
    background-image: url("https://www.sciencealert.com/images/2022-06/processed/BlueRodShapesFloatingOnALightBlueBackground_1024.jpg");
    background-size: 100% 100%;
    text-align: center;

}

.p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}